<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Problert Admin</title>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12" id="locationSelector" style="margin-bottom: 15px;">
                <select name="location" id="location">
                    <option value="0">서울특별시</option>
                    <option value="1">부산광역시</option>
                    <option value="2">대구광역시</option>
                    <option value="3">인천광역시</option>
                    <option value="4">광주광역시</option>
                    <option value="5">대전광역시</option>
                    <option value="6">울산광역시</option>
                    <option value="7">세종특별자치시</option>
                    <option value="8">경기도</option>
                    <option value="9">강원도</option>
                    <option value="10">충청북도</option>
                    <option value="11">충청남도</option>
                    <option value="12">전라북도</option>
                    <option value="13">전라남도</option>
                    <option value="14">경상북도</option>
                    <option value="15">경상남도</option>
                    <option value="16">제주특별자치도</option>
                </select>
            </div>
            <div class="col-md-12 list-group" id="complaintList"></div>
            <script>
                window.onload = function() {
                    loader('0')
                }
                $('#location').change(function() {
                  loader($('#location')[0].value)
                })
                $('#temp').children('.content').click(function(){
                    $(this).toggleClass("clickedContent");
                });
                const loader = function(i) {
                  axios.get("http://donote.co:3000/api/v1/issue/loc/" + i).then(res => {
                    if (!res.data.complaints.length) {
                      $('#complaintList')[0].innerHTML = `<p class="list-group-item" onclick="" id="temp"><span class="content"><span class="title">민원이 없습니다.</span><br><span class="description">남아있는 민원이 없습니다.</span></span></p>`
                      return;
                    }
                    $('#complaintList')[0].innerHTML = ""
                    for (let i in res.data.complaints) {
                      let complaint = res.data.complaints[i]
                      $('#complaintList').append(`<p class="list-group-item" onclick="" id="${complaint.issueid}"><span class="content"><span class="title">${complaint.title}</span><br><span class="description">${complaint.description}</span></span><span class="btn-group" style="float: right"><button class="btn btn-danger">비공개</button><button class="btn btn-success" style="float: right">처리 완료</button></span></p>`);
                    }
                  });
                }
            </script>
        </div>
    </body>
</html>