<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Problert Admin</title>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12" id="locationSelector" style="margin-bottom: 15px;">
                <select name="location" id="location">
                    <option value="0">서울특별시</option>
                    <option value="1">부산광역시</option>
                    <option value="2">대구광역시</option>
                    <option value="3">인천광역시</option>
                    <option value="4">광주광역시</option>
                    <option value="5">대전광역시</option>
                    <option value="6">울산광역시</option>
                    <option value="7">세종특별자치시</option>
                    <option value="8">경기도</option>
                    <option value="9">강원도</option>
                    <option value="10">충청북도</option>
                    <option value="11">충청남도</option>
                    <option value="12">전라북도</option>
                    <option value="13">전라남도</option>
                    <option value="14">경상북도</option>
                    <option value="15">경상남도</option>
                    <option value="16">제주특별자치도</option>
                </select>
                <button class="transparent refresh" onclick="loader(currentnum)"></button>
            </div>
            <div class="col-md-12 list-group" id="complaintList"></div>
            <script>
                var currentnum = "<%= localid %>";
                window.onload = function() {
                    loader("<%= localid %>")
                    $('select [value=<%= localid %>]')[0].selected = true
                }
                $('#location').change(function() {
                  loader($('#location')[0].value)
                })
                const loader = function(i) {
                  currentnum = i;
                  axios.get("http://donote.co:3000/api/v1/issue/loc/" + i).then(res => {
                    if (!res.data.complaints.length) {
                      $('#complaintList')[0].innerHTML = `<p class="list-group-item" onclick="" id="temp"><span class="content"><span class="title">민원이 없습니다.</span><br><span class="description">남아있는 민원이 없습니다.</span></span></p>`
                      return;
                    }
                    $('#complaintList')[0].innerHTML = ""
                    for (let i in res.data.complaints) {
                      let complaint = res.data.complaints[i]
                      let html = `<p class="list-group-item" onclick="" id="${complaint.issueid}"><span class="content"><span class="title">${complaint.title}</span><br><span class="description">${complaint.description}</span></span><span class="btn-group" style="float: right">`
                      if (complaint.ispublic) html += `<button class="btn btn-danger public">비공개</button>`
                      else html += `<button class="btn btn-primary public">공개</button>`
                      html += `<button class="btn btn-success deactivate" style="float: right">처리 완료</button></span></p>`
                      $('#complaintList').append(html);

                      $('#'+complaint.issueid).click(function(){
                        $(this).toggleClass("clickedContent");
                      });

                      $(`#${complaint.issueid} .public`).click(function(){
                        axios.put(`/api/v1/issue/${complaint.issueid}/public`).then(res => {
                          $(this).toggleClass("btn-primary");
                          $(this).toggleClass("btn-danger");
                          $(this)[0].innerHTML = $(this)[0].innerHTML === "비공개" ? "공개" : "비공개";
                        }).catch(err => {
                          console.log('toggling public status failed');
                        })
                      });

                      $(`#${complaint.issueid} .deactivate`).click(function(){
                        axios.delete(`/api/v1/issue/${complaint.issueid}/deactivate`).then(res => {
                          $(`#${complaint.issueid}`).remove();
                        }).catch(_ => {
                            console.log('deactivation failed');
                        })
                      });
                    }
                  });
                }
            </script>
        </div>
    </body>
</html>