body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #41d6b9 !important;
}

.title {
  font-size: 20px;
}

.content {
  display: inline-block;
  width: calc(100% - 150px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.clickedContent {
  overflow: auto;
  white-space: pre-wrap !important;
}

.clickedContent .description {

  text-overflow: clip;
  overflow: visible !important;
  word-break: break-all;
}

.title, .description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.list-group-item {
  overflow: hidden;
}

.list-group-item:hover {
  background-color: #f8f9fa !important;
}

.transparent {
  border: none;
  background-color: transparent;
}

.refresh {
  background-image: url("../images/refresh.png");
  background-size: cover;
  width: 32px;
  height: 32px;
  float: right;
  transition: all ease 0s;
}

.refresh:active {
  transition: all ease 1s;
  transform: rotate(-1turn);
}

#locationSelector {
  vertical-align: center;
}